.features-list {
    list-style: none;

    &__item {
        color: #72768d;
        line-height: 17px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 17px;
            height: 17px;
            background: url("../../../assets/offers/rocket.png");
            background-size: cover;
            left: -27px;

            @media screen and (max-width: 568px) {
                width: 17px;
                height: 17px;
                left: -27px;
            }

            @media screen and (max-width: 400px) {
                width: 14px;
                height: 14px;
                left: -19px;
            }
        }
    }
}