.offers__item-more {
    background-color: #f1f3fd;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #72768d;
    border-radius: 0 0 15px 15px;
    max-height: 0;
    padding: 0 15px;
    overflow: hidden;
    transition: all 0.6s ease;
    gap: 5px;

    @media screen and (max-width: 1360px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 568px) {
        border-radius: 0 0 10px 10px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 0 10px;
    }

    &.open {
        border-top: 1px solid #ebecf5;
        max-height: 500px;
        padding: 15px;

        @media screen and (max-width: 568px) {
            max-height: 600px;
            padding: 10px;
        }
    }

    &__payment {
        display: none;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 15px;

        @media screen and (max-width: 768px) {
            display: flex;
            margin-bottom: 5px;
        }

        @media screen and (max-width: 400px) {
            gap: 10px;
            margin-bottom: 0;
        }
    }

    &__description {
        width: 445px;
        line-height: 25px;
        margin-right: 20px;

        @media screen and (max-width: 1360px) {
            width: 100%;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 568px) {
            font-size: 12px;
            margin-right: 0;
            line-height: 20px;
            margin-bottom: 5px;
        }

        @media screen and (max-width: 400px) {
            font-size: 10px;
            line-height: 15px;
            margin-bottom: 0;
        }
    }

    &__advantages,
    &__disadvantages {
        list-style: none;
        line-height: 25px;
        width: 404px;
        padding: 15px 29px 15px 45px;
        border: 2px solid #ebecf5;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (max-width: 1360px) {
            width: 49%;
        }

        @media screen and (max-width: 768px) {
            padding: 10px 10px 10px 29px;
            width: 100%;
            line-height: 15px;
            gap: 10px;
        }

        &-item {
            position: relative;
        }
    }

    &__advantages {
        &-item {
            &::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                background: url("../../../assets/offers/like.png");
                left: -30px;
                background-size: cover;

                @media screen and (max-width: 768px) {
                    width: 14px;
                    height: 14px;
                    left: -19px;
                }
            }
        }
    }

    &__disadvantages {
        &-item {
            &::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                background: url("../../../assets/offers/dislike.png");
                left: -30px;
                background-size: cover;

                @media screen and (max-width: 768px) {
                    width: 14px;
                    height: 14px;
                    left: -19px;
                }
            }
        }
    }
}
